
<section id="content" class="container clearfix">
  <div style="text-align:center;min-height: 200px;">
    <br><br><br><br>
      <p class="input-block">
      <label for="contact-name"><strong>Identifiant</strong></label>
      <input type="text" name="name" value="" id="login" required="">
    </p>
  
    <p class="input-block">
      <label for="contact-name"><strong>Mot de passe</strong></label>
      <input type="password" name="name" value="" id="password" required="">
    </p>
  
    <p><a class="button large" href="#">Log In !</a></p>
  </div>
    
  </section>